#upload_img{width:27.5px;padding:.75em 1em .5em 1em;text-align:center;vertical-align:middle}#upload_img:active{background-color:#f0f0f0}#img_loader{display:none}#img_canvas{display:none}#img_div img{max-width:50%}
