body {
    margin: 0;
    padding: 20 px;
}
@media (prefers-color-scheme:dark) {
    .night-mode,
    .title,
    #show_notice,
    select,
    input,
    textarea,
    p,
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        background: #323336;
        color: #fff;
    }
}
@media (prefers-color-scheme:light) {
    .title {
        color: #000;
    }
    #show_notice {
        background: #eff0f7;
    }
}
.row {
    margin-bottom: 0px;
}
#show_notice {
    z-index: 9999;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: thick double #25a79a;
    position: fixed;
}
.txt {
    padding: 18px;
    text-align: justify;
    font-size: 20px;
}
#countdown {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 6px 0;
    width: 100%;
}
#time {
    color: red;
}
.hide {
    font-size: 0px;
    height: 0px;
    width: 0px;
    opacity: 0;
}
.right {
    float:right;
}
textarea {
    resize: none;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 18px;
    border: 3px solid #27a59a;
    width: 100%;
    height: 100px;
    padding: 0.8rem;
}
textarea:focus {
    outline: none !important;
    border: 3px solid #2cbbad;
}
textarea::-webkit-scrollbar {
    width: 0 !important
}
textarea::-webkit-input-placeholder {
    font-size: 20px;
}
body::-webkit-scrollbar {
    display: none;
}
#show_notice {
    width: 300px;
    height: 350px;
}
#account_name {
    border-top: 0;
    border-left: 0px;
    border-right: 0;
    border-bottom: 1px solid #9e9e9e;
    padding-left: 0px;
    font-size: 1.1rem;
}
#account_name:focus {
    outline: none;
}
