.logo {
    width: 40px;
    vertical-align: middle;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

div.menu {
    background-color: #f5f5f5;
}

div.menu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.menu a:hover {
    background-color: #777;
}

p,
li,
td {
    font-size: 16pt;
    font-family: arial, helvetica, sans-serif;
}

pre {
    background-color: #eee;
}

.img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

h1,
h2,
h3 {
    text-align: center
}

.button {
    text-align: center;
    border: 1px solid;
    padding: .375rem .75rem;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #fff;
}

.blue {
    background-color: #007bff;
    border-color: #007bff;
}

.blue:hover {
    background-color: #0069d9;
}

.green {
    background-color: #198754;
    border-color: #198754;
}

.green:hover {
    background-color: #157347;
}

.red {
    background-color: #dc3545;
    border-color: #dc3545;
}

.red:hover {
    background-color: #bb2d3b;
}

@media (prefers-color-scheme:dark) {
    body {
        background-color: #17191a;
        color: #d0cec8;
    }

    pre {
        background-color: #292c34;
        color: #d0cec8;
    }

    code {
        background-color: #292c34;
    }

    div.menu {
        background-color: #2e3033;
    }

    div.menu a {
        color: #d0cec8;
    }

    .page-link {
        background-color: #292c34;
    }

    .card-body {
        background-color: #292c34;
    }

    .list-group-item {
        background-color: #17191a;
    }

    .list-group a {
        color: #d0cec8;
    }

    .list-group a:hover {
        background-color: #777;
    }

    textarea {
        background-color: #292c34;
    }

    input {
        background-color: #292c34;
    }

    select {
        background-color: #292c34;
    }
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

a {
    text-decoration: none;
    color: #0d6efd;
}

.logo span {
    vertical-align: middle;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
}



h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

a.list-group-item {
    color: #333;
}


a.list-group-item {
    color: #555;
}

a.list-group-item {
    color: #333;
}

a.list-group-item:hover,
a.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);

}

.row>* {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.card-box {

    width: 50%;
    margin-bottom: 1.5rem
}

.card {
    flex-direction: column;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1rem 1rem;
}

.card-text {
    margin-bottom: 0;
    margin-top: 0;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;

}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.page-link {
    color: #0d6efd;
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: #0a58ca;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.choice {
    display: flex;
    font-size: 19px;
}

.choice a {
    flex: 0 0 33%;
}

.choice a:nth-child(1) {
    text-align: left;
}

.choice a:nth-child(2) {
    text-align: center;
}

.choice a:nth-child(3) {
    text-align: right;
}
