.logo {
	width: 58px;
}
.img {
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}
.card-body img {
	float: left;
}

.card-body p {
	font-size: 14pt;
}

.left {
	float: left;
	width: 33.33333%;
	text-align: left;
}
.center {
	float: left;
	width: 33.33333%;
	text-align: center;
}
.right {
	float: left;
	width: 33.33333%;
	text-align: right;
}
div.menu {
	background-color: #f5f5f5;
}
div.menu a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}
div.menu a:hover {
	background-color: #777;
}
p,
li,
td {
	font-size: 16pt;
	font-family: arial, helvetica, sans-serif;
}
pre {
	background-color: #eee;
}
.img {
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}
h1,
h2,
h3 {
	text-align: center
}
.button {
    text-align: center;
    border: 1px solid;
    padding: .375rem .75rem;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #fff;
}
.blue {
    background-color: #007bff;
    border-color: #007bff;
}
.blue:hover {
    background-color: #0069d9;
}
.green {
    background-color: #198754;
    border-color: #198754;
}
.green:hover {
    background-color: #157347;
}
.red {
    background-color: #dc3545;
    border-color: #dc3545;
}
.red:hover {
    background-color: #bb2d3b;
}
@media (prefers-color-scheme:dark) {
	body {
		background-color: #17191a;
		color: #d0cec8;
	}
	pre {
		background-color: #292c34;
		color: #d0cec8;
	}
	code {
		background-color: #292c34;
	}
	div.menu {
		background-color: #2e3033;
	}
	div.menu a {
		color: #d0cec8;
	}
	.page-link {
		background-color: #292c34;
	}
	.card-body {
		background-color: #292c34;
	}
	.list-group-item {
		background-color: #17191a;
	}
	.list-group a {
		color: #d0cec8;
	}
	.list-group a:hover {
		background-color: #777;
	}
	textarea {
		background-color: #292c34;
	}
	input {
		background-color: #292c34;
	}
	select {
            background-color: #292c34;
        }
}
