.social {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .social {
max-width: 540px;
  }
}
@media (min-width: 768px) {
  .social {
max-width: 720px;
  }
}
@media (min-width: 992px) {
  .social {
max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .social {
max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .social {
max-width: 1320px;
  }
}
#container {
  position: relative;
  font-size: 1rem;
  text-align: center;
  overflow: hidden;
}
.btn {
  font-size: .8em;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin-bottom: 7px;
}
.btn > span,.btn-icon > i {
  float: left;
  padding: 14px;
  line-height: 1em
}
.btn > span {
  padding: 14px 18px 16px;
  color:#FFF;
  font-size: 16px;
  background:#b8b8b8
}
.btn-icon > i {
  border-radius: 5px 0 0 5px;
  position: relative;
  width: 15px;
  font-size: 1.5em;
  color: #fff;
  background: #212121;
}
.btn-icon > i:after {
  content: "";
  border: 8px solid;
  border-color: transparent transparent transparent #222;
  position: absolute;
  top: 13px;
  right: -15px
}
.btn-icon > span {
  width: 100%;
  border-radius: 0 5px 5px 0
}
#container,
.btn-icon {
  display: flex;
}
a {
  text-decoration: none;
}
/* Facebook */
.facebook {
  background: linear-gradient(#17A9FD, #0165E1);
}
/* Twitter */
.twitter {
	background: #1D9BF0
}
/* Pinterest */
.pinterest {
	background: #E60023
}
/* LinkedIn */
.linkedin {
	background: #0A66C2
}
/* Skype */
.skype {
	background: #009EDC
}
/* Tumblr */
.tumblr {
	background: #35465C
}
/* Flickr */
.flickr {
	background: #FF0084;
}
/* YouTube */
.youtube {
	background: #FF0000
}
/* Instagram */
.instagram {
	background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
/* OK */
.odnoklassniki {
	background: #ED812B
}
/* Reddit */
.reddit-alien {
	background: #FF4500
}
/* WhatsApp */
.whatsapp {
  background: linear-gradient(#5FFC7B, #28D146);
}
/* Telegram */
.telegram {
	background: #27A7E7
}
/* VK */
.vk {
	background: #4C75A3
}
/* Messenger */
.facebook-messenger {
  background: linear-gradient(to top right, #0695FF, #A334FA, #FF6968);
}
/* Website */
.globe {
	background: #F16529
}
/* LINE */
.line {
	background: #00B900
}
/* App Store */
.app-store-ios {
	background: linear-gradient(#1bd0ff, #1e67f1);
}
/* Android */
.android {
	background: #32DE84
}
/* Snapchat */
.snapchat {
  color: black;
	background: #FFFC00
}