.image-radio {
  cursor: pointer;
  margin: 5px;
}

.image-radio input[type=radio] {
  display: none;
}

.image-radio img {
  border: 2px solid transparent;
  padding: 5px;
  width: 80px;
  transition: border 0.3s;
}

.image-radio input[type=radio]:checked+img {
  border-color: #007bff;
}

.zoom-img {
  width: 400px;
}

.table-container {
  max-height: 1000px;
  overflow-y: auto;
  position: relative;
}

thead,
th {
  position: sticky;
  top: 0;
  z-index: 1;
}

td:nth-child(1),
td:nth-child(2) {
  text-align: center;
}

td {
  vertical-align: middle;
}

td img {
  width: 50px;
  height: 50px;
}

td label {
  cursor: pointer;
  display: block;
}

td input[type=checkbox] {
  vertical-align: middle;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

#log {
  word-wrap: break-word
}

.drag-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.drag-area.hover {
  border-color: #000;
}

.scroll-box::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  overflow:visible;
  width: 8px;
  border-radius: 42px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}

.social-icon {
  width: 28px;
  height: 28px;
  margin: 5px
}

footer a {
  text-decoration: none;
}